@keyframes move {
    0% {
        transform: translateY(100%) rotate(90deg);
    }
    100% {
        transform: translateY(-100%) rotate(90deg);
    }
}

/* Wrapper papan LED */
.monitor-wrapper {
    position: relative;
    width: 90%;
    max-width: 600px;
    height: 60px;
    overflow: hidden;
    background-color: #111;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 255, 255, 0.362), inset 0 0 10px rgba(0, 255, 251, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    border: 2px solid #33f8ff;
}

/* Monitor yang menampilkan teks */
.monitor {
    display: inline-block;
    color: #33e7ff;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    animation: move 13s linear infinite;
    padding: 0 10px;
    transform: rotate(90deg);
    transform: left center;
}

/* Centering elemen di tengah halaman */
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Background halaman */
body {
    margin: 0;
    background: linear-gradient(135deg, #333, #111);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: Arial, sans-serif;
}
